[Unit]
Description=Check Cloud9 Engine updates daily

[Timer]
OnCalendar=*-*-* 04:17:00
RandomizedDelaySec=45m
Persistent=true

[Install]
WantedBy=timers.target
